@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
    <div class="row p-2">
        <h1 class="nav-colr">@ViewData["Title"]</h1>
        <p class="nav-colr">
            Your password has been reset. Please <a asp-page="./Login" class="btn link-product-add-cart">click here to log in</a>.
        </p>
    </div>